/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

div.home{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height:100%;
    background-color: #000000;
    /* background-color: grey; */
}
a{
    text-decoration: none;
}

 

/* Global styles */
body {
    font-family: 'Plus Jakarta Sans';
    background-color: #000000;
}

/* navigation bar */

 

div.nav {
    width: 100%;
    position: relative;
}

div.navcolor {
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: black;
}

div.loginnav {
    width: 22%;
    height: 20px;
    left: 3%;
    top: 31px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 9px;
    display: inline-flex;
}

div.login-element{
    width: 110px;
    height: 20px;
    position: relative;
}

div.point{
    width: 5px;
    height: 5px;
    left: 0px;
    top: 10px;
    position: absolute;
    background: white;
    border-radius: 9999px;
}

div.item{
    left: 10px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    word-wrap: break-word;
}

div.item1{
    left: 0px;
    top: 0px;
    width: 150px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    word-wrap: break-word;
}

div.point1{
    width: 5px;
    height: 5px;
    left: 140px;
    top: 10px;
    position: absolute;
    background: white;
    border-radius: 9999px;
}

div.item2{
    left: 150px;
    top: 0px;
    position: absolute;
    color: #1296E0;
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    word-wrap: break-word;
}

div.item:hover{
    color:#1296E0;
    font-size: 15px;
}

div.navigation{
    width: 500px;
    height: auto;
    left: 35%;
    top: 31px;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 54px;
    display: inline-flex;
}

div.home-element{
    width: 55px;
    height: 20px;
    position: relative;
}

div.itemnav{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 9px;
    display: inline-flex;
}

div.Whyus-element{
    width: 70px;
    height: 20px;
    position: relative;
}

div.resume-element{
    width: 70px;
    height: 20px;
    position: relative;
}

div.team-element{
    width: 90px;
    height: 20px;
    position: relative;
}

div.contact-element{
    width: 30px;
    height: 20px;
    position: relative;
}

/* top section */

div.top-section{
    width:100%;
    height:665px;
    margin: auto;
    background-image: url("image.png");
}

h1.w{
    margin-left:11%;
    margin-top:12.5%;
    font-size: 95px;
    color: black;
}

h1.h{
    margin-left: 11%;
    margin-top: -8%;
    font-size: 95px;
    color: white;
}

h3.c{
    margin-left: 11%;
    font-size: 40px;
    color: white;
}

h3.r{
    margin-left: 0.5%;
    font-size: 40px;
    color: #1296E0;
}

h3.q{
    margin-left: 0.5%;
    font-size: 40px;
    color: rgb(128, 128, 128);
}

div.line1, div.line2{
    margin-top: -5%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.cta-button1 {
    width: 200px;
    height: 70px;
    background: #1296E0;
    color: white;
    font-size: 20px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: 11%;;
}

div.cta-button1:hover{
    color: #1296E0;
    background-color: white;
    transition-duration: 1s;
}

/* Why Choose Us section */

div.container{
    height: 745px;
    width:98%;
    position: relative;
    margin-left: 2%;
    padding: 5%;
    padding-bottom: 0%;
}

.why-choose-us {
    margin-top: 5%;
    width: 100%;
    position: relative;
    text-align: left;
}

.section-title {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.heading-container {
    margin-bottom: 40px;
}

.heading-text {
    font-size: 50px;
    font-weight: 800;
    word-wrap: break-word;
}

.heading-text-first {
    color: white;
}

.heading-text-second {
    color: #1296E0;
}

/* Call-to-action button */
.cta-button {
    width: 247px;
    height: 64px;
    background: #1296E0;
    color: white;
    font-size: 20px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}

div.cta-button:hover{
    color: #1296E0;
    background-color: white;
    transition-duration: 1s;
}

/* Feature sections */
.feature-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin-top: -1%;
    margin-bottom: 20px;
}

.icon-container {
    margin-top: -4%;
    width: 30px;
    height: 30px;
    position: relative;
}

.icon-background {
    width: 30px;
    height: 30px;
    position: absolute;
    background: #101010;
    border-radius: 9999px;
}

.icon-inner {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
}

i.gg-check{
    color:#1296E0;
    width: 100%;
}

.feature-content {
    flex: 1;
    padding-top: 0;
    padding: 1.5%;
}

.feature-title {
    color: white;
    font-size: 20px;
    font-weight: 800;
    word-wrap: break-word;
}

.feature-description {
    color: #5D5D5D;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    word-wrap: break-word;
}

/* Hover effect */
.feature-section:hover .icon-background {
    background: #1296E0;
    transition-duration: 0.75s;
}

.feature-section:hover i.gg-check {
    color: white;
    transition-duration: 0.75s;
}

.icon-container:hover .icon-background {
    background: #1296E0;
    transition-duration: 0.75s;
}

.icon-container:hover i.gg-check{
    color: white;
    transition-duration: 0.75s;
}


div.cta-button:hover{
    color: #1296E0;
    background-color: white;
    transition-duration: 1s;
}

 

.social-section {
    position: absolute;
    left: 90%;
    top: 10%;
    max-width: 15%; /* Adjust the max-width as needed */
}

.nav-links,
.social-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.social-link {
    width: 55px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.48);
    font-size: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    word-wrap: break-word;
}
 /* contact section */
.contact
{
    margin: auto;
    width: 100%;
    height: 150%;
     background-color: #000000;
}
.contact-right
{
    display: flex;
    flex-direction: column;
    float: inline-end;
    margin-right: 10%;
    margin-top: 5%;
}
.explore
{
    display: flex;
    flex-direction: row;
    float: inline-end;
    margin-right:20% ;
 
 }
.explore2
{
    float: inline-end;
    margin-top: 10%;
    margin-right:20% ;

}
.explore-text
{
    color: rgba(255, 255, 255, 0.48);
    font-size: 16px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    word-wrap: break-word;
}
.nav-links{
    float: inline-end;
}
.nav-link
{
    font-size: 20px;
    color: #5D5D5D;
}
.name-section
{
    margin-top: 7%;
    margin-left:3% ;
}
.name-text 
{
    color: #ffffff;
     font-size: 50px;
     font-weight:200 ;
}
.text1
{   
    color: #5D5D5D;
    margin-top: 5%;
    font-size: 20px;
 }

.email-text 
{
    margin-top: 2%;
    font-size: 30px;
    color: #ffffff;
}
.copyright-text {
    margin-top: 8%;
    font-size: 10px;
  
}
.copyright-texts
{
    color: #5D5D5D;
    margin-left:30% ;
    margin-top: 6%;
    margin-bottom: 4%;
}
/* templates */
.templates
{
    background-color: #1A1A1A;
    height: 800px;
    width: 100%;
    margin: auto;
}
.template-text
{
    color: #5D5D5D;
    font-family: 'Plus Jakarta Sans';
    font-size: 30px;
    margin-left: 3%;
    margin-top: 5%;
}

.template-img{
    width: 300px;
    height: 500px;
    border-radius: 0.1px;
    background-color: #5D5D5D;
    border: solid;
    border-color: #ffffff;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 4%;

}
.template-flex
{
    display: flex;
    flex-direction: row;
 }
 